/* Styles for the search bar */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 27, 27);
    padding: 20px;
    border-radius: 20px;
    max-width: 400px;
    margin: 0 auto;
  }
  
  .search-container input {
    padding: 8px;
    font-size: 16px;
    border: none;
    border-radius: 20px 0 0 20px;
    margin-right: -5px;
    flex-grow: 1;
    outline: none;
    background-color: rgb(30, 85, 67);
    color:azure;
  }
  
  .search-container button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #FF6F61;
    color: #fff;
    border: none;
    border-radius: 0 20px 20px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
    outline: none;
    


  }
  
  .search-container button:hover {
    background-color: #FFA07A;
  }
  