/* Base styles for all screen sizes */
.cart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #232323;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  flex-direction: column; /* For mobile, stack items vertically */
  padding: 1rem;
  border: 1px solid #444;
  border-radius: 8px;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #333;
}

/* Styles for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 768px) {
  li {
    flex-direction: row; /* For larger screens, align items horizontally */
  }
  .remove_button {
    margin-left: 10px; /* Add spacing between remove button and content */
  }
}

li img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

li a {
  text-decoration: none;
  color: #fff;
}

select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.remove_button {
  background-color: #ff6347;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove_button:hover {
  background-color: #ff6347a6;
}

.checkout-container {
  display: flex;
  flex-direction: column; /* Stack content vertically for mobile */
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #232323;
  border-radius: 8px;
  width: 100%;
}

/* Styles for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 768px) {
  .checkout-container {
    flex-direction: row; /* For larger screens, align items horizontally */
  }
  .food-count,
  .total-price {
    margin: 0; /* Remove margins for mobile */
  }
}

.food-count,
.total-price {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-align: center; /* Center text for mobile */
  margin-bottom: 10px; /* Add spacing between counts and buttons for mobile */
}

.checkout-container a {
  background-color: #007bff;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.checkout-container a:hover {
  background-color: #0056b3;
}

.food-image img {
  width: 80px;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

.food-details {
  flex: 1;
  margin-left: 10px;
}

.food-name {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.quantity {
  margin-top: 5px;
}

.quantity label {
  font-size: 14px;
  font-weight: bold;
  color: #ddd;
  margin-right: 5px;
}

.quantity select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.input-container input[type="number"] {
  width: 50px;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #444;
  border-radius: 4px;
  flex-grow: 1;
  background-color: #333;
  color: #fff;
}

.input-container p {
  margin-left: 10px;
  font-size: 16px;
  color: #ddd;
}

.empty-cart-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #232323;
  border: 1px solid #444;
  border-radius: 5px;
  font-size: 18px;
  color: #ddd;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #334455;
  z-index: -1;
}
