.container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Așezat cutia deasupra centrului vertical */
    height: 100vh;
    background-color: #ffffffe0;
  }
  
  .details {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    text-align: center;
  }
  
  .app-title {
    color: salmon;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input-container {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 10px; /* Ajustat spațiul pentru padding */
    margin-bottom: 10px; /* Adăugat un mic spațiu între câmpuri */
    font-size: 16px;
    color: #313e41;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  textarea:focus {
    box-shadow: inset 0 0 5px salmon;
  }
  
  .error-list {
    color: red;
    font-size: 14px; /* Redus mărimea fontului pentru a încadra mai bine */
  }
  
  .button {
    text-align: center;
    margin-top: 15px; /* Adăugat spațiu deasupra butonului */
  }
  
  button[type="submit"] {
    width: 100%;
    height: 40px; /* Redus înălțimea butonului */
    border-radius: 5px; /* Redus raza de la 10px la 5px */
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px; /* Redus mărimea fontului pentru a încadra mai bine */
    font-weight: bold;
    color: #fff;
    background-color: salmon;
    transition-duration: 0.3s;
  }
  
  button[type="submit"]:hover,
  button[type="submit"]:focus {
    transform: scale(1.05); /* Redus valoarea de scalare */
  }