/* Base styles for all screen sizes */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #334455;
  color: #ffffff;
  padding: 20px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.details {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* For mobile, single column */
  gap: 10px;
  width: 100%;
  padding: 10px;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
  background-color: #232323;
}

h1 {
  font-size: 1.6rem;
  margin-bottom: 20px;
}

.details div {
  margin-bottom: 10px;
}

.details strong {
  font-weight: bold;
}

.order-items-list {
  background-color: #232323;
  border: 2px solid #444;
  border-radius: 10px;
  box-shadow: 0 0 10px #444;
  margin: 20px 0;
  padding: 10px;
  width: 100%;
}

.buttons-container {
  display: flex;
  flex-direction: column; /* Stack buttons on mobile */
  align-items: center; /* Center align buttons on mobile */
  margin-top: 20px;
  width: 100%;
}

/* PayPal button styles */
.paypal-button {
  width: 100%;
  padding: 10px;
  background-color: #ff9900;
  color: #ffffff;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-bottom: 10px; /* Add space between buttons on mobile */
}

.paypal-button:hover {
  background-color: #e68a00;
}

.paypal-button:active {
  animation-name: pulse;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

/* Keyframes for pulse animation */
@keyframes pulse {
  from {
    transform: scale(1.1);
  }
  to {
    transform: scale(0.9);
  }
}

/* Styles for larger screens (e.g., tablets and desktops) */
@media screen and (min-width: 768px) {
  /* Adjust the number of columns for larger screens */
  .details {
    grid-template-columns: repeat(2, 1fr);
  }
}
